<noscript>
  <div class="alert">
    <h5>Javascript in not enabled on your browser!</h5>
    <p>Please <strong>enable JavaScript</strong> to have a flawless experience!</p>
  </div>
</noscript>

<h1>Caveman Poetry</h1>
<p class="subtitle">Ages 7+ | 4 - 12 players | 15 mins</p>

<%= form_with local: true, url: users_path do |form| %>
  <div class="field">
    <%= form.label :name, 'Enter your name' %>
    <%= form.text_field :name, class: "u-full-width" %>
  </div>

  <div class="actions">
    <%= form.submit "Login" %>
  </div>
<% end %>
