<div data-turn-target="playerHeader" class="hidden">
  <h1>It's your turn!</h1>
  <h4>Try to get your team to say the following words:</h4>
</div>

<div data-turn-target="judgeHeader" class="hidden">
  <h1>You're the judge!</h1>
  <h4>Score the words but make sure the player is not breaking the rules!</h4>
</div>

<div data-turn-target="timer" class="timer">
  <h1>120<h1>
</div>

<%= render partial: 'turns/sub_turn', locals: { sub_turn: turn.current_sub_turn } %>
