<div data-turn-target="timer" class="timer">
  <h1>60<h1>
</div>

<turbo-frame id="<%= dom_id(turn.current_sub_turn) %>">
  <%= render partial: 'turns/sub_turn', locals: { sub_turn: turn.current_sub_turn } %>
</turbo-frame>

<div data-turn-target="actions" class="turn-actions">
  <button data-action="click->turn#skip">SKIP (-1)</button>
</div>
