<h1> <%= turn.current_player[:name] %> is playing! </h1>
<h4> Judged by: <%= turn.current_judge[:name] %></h4>

<p> If you're on Team <%= turn.current_player[:team].to_s.capitalize %>, try to guess the words! </p>
