<h5 class="other-label">Current player:</h5>
<h1><%= turn.current_player[:name] %></h1>

<h5 class="other-label">Current judge:</h5>
<h1><%= turn.current_judge[:name] %></h1>

<% if turn.current_player[:team] == team %>
  <div class="other-text">
  💡 Try to guess the words!
  </div>
<% end %>
