<h2> Players </h2>
<% if !players || players.empty? %>
  <p>There are no players in this game yet.</p>
<% else %>
  <table class="player-list u-full-width">
    <tbody>
      <% players.each do |player| %>
        <tr data-game-target="player" data-player-id="<%= player[:id] %>">
          <td> <%= "#{player[:name]} (#{player[:id]})" %> </td>
          <td class="remove-link"> <%= link_to 'Remove', remove_player_game_path(code: game.code, player_id: player[:id]), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
