<h1> Welcome, <%= @user_name %>! </h1>
<div data-controller="join">
  <div class="join-container">
    <div data-join-target="create">
      <%= form_with local: true, url: games_path, class: 'no-margin' do |form| %>
        <div class="actions">
          <%= form.submit 'Create Game', class: 'button' %>
        </div>
      <% end %>
    </div>

    <input class="hidden" type="text" data-join-target="code" data-action="join#upcase keydown.enter->join#join:prevent" placeholder="Enter Game Code">

    <div>
      <a href="#" class="button" data-action="join#join:prevent">Join Game</a>
      <a href="#" class="hidden button" data-join-target="cancel" data-action="join#cancel:prevent">Cancel</a>
    </div>

    <div>
      <%= link_to 'How to play', 'https://cdn.shopify.com/s/files/1/0345/9180/1483/files/EK_Poetry-For-Neanderthals_Grab-N-Game_2023.pdf?v=1712786117', target: '_blank', class: 'button', data: { 'join-target': 'help' } %>
    </div>
  </div>
</div>
