/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.main-container {
  display: flex;
  text-align: center;
  margin-top: 10rem;
  justify-content: center;
}

form.no-margin {
  margin: auto;
}

.mb-0 {
  margin-bottom: 0;
}

.join-container {
  display: flex;
  flex-direction: column;
}

.join-container div {
  flex: 1 1 0px;
}

.join-container .button {
  width: 20rem;
}

p.subtitle {
  color: grey;
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0 !important;
}

.current-player {
  font-weight: bold;
}

.flash-error {
  color: #ff8585;
}

a.logout {
  background-color: #ff8585;
  color: white;
}

noscript .alert {
  background-color: pink;
  text-align: center;
}

noscript p {
  margin-top: -2rem;
}

.title-card {
  width: 60%;
}

.player-list td {
  text-align: center;
}

.team-mad-heading {
  color: #e1792d;
}

.team-glad-heading {
  color: #ffbc9a;
}

table tr.player-team-mad {
  background-color: #e1792d;
}

table tr.player-team-glad {
  background-color: #ffbc9a;
}

table.turn-score td {
  text-align: center;
}

table.turn-score tr.negative{
  background-color: #ffa1a1;
}

table.turn-score td.scored {
  background-color: #3cec65;
}
