/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.container {
  text-align: center;
  width: 30%;
}

.player-list td {
  text-align: center;
}

.hidden {
  display: none;
}

.current-player {
  font-weight: bold;
}

table.turn-score td {
  text-align: center;
}

table.turn-score tr.negative{
  background-color: #ffa1a1;
}

table.turn-score td.scored {
  background-color: #3cec65;
}
