.words {
  display: flex;
  gap: 3rem;

  font-family: Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif
}

.words > .card-container {
  flex: 1 1 0px;
}

.card-container > .card {
  display: flex;
  border-radius: 20px;

  justify-content: center;
  align-items: center;

  flex-direction: column;

  height: 15rem;

  cursor: pointer;

  transition: all 0.3s ease;
}

.card.unscored {
  color: #555;
  border: 1px #ddd solid;
  background-color: #f9f9f9;
}

.card.scored {
  color: #fff;
  background-color: #3cec65;
  border-color: #1e7e34;
}

.card.disabled {
  color: #aaa;
  background-color: #f0f0f0;
  border-color: #ccc;
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.card.unclickable:not(.scored) {
  background: none;
  border: none;
  cursor: not-allowed;
  pointer-events: none;
}

.card.unclickable.scored {
  color: #000;
  border: none;
  cursore: non-allowed;
  pointer-events: none;
}


.card .difficulty {
  color: #999;
}

.card .word {
  font-size: 2rem;
  font-weight: bold;
}

.skip-container {
  margin-top: 7rem;
}

.skip-button {
  color: #fff;
  background-color: #ff8585;
  border-color: #ff8585;
  border-radius: 10px;
}

.pass-button {
  color: #000;
  background-color: #3cec65;
  border-color: #3cec65;
  border-radius: 10px;
}

.skip-button.disabled {
  background-color: #f0f0f0;
  color: #aaa;
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none; /* Prevent any interaction */
}
